<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuperMetroidRandomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SuperMetroidRandomizer.Properties.Settings>
            <setting name="OutputFile" serializeAs="String">
                <value>SM Random - &lt;seed&gt;.sfc</value>
            </setting>
            <setting name="OutputFileV11" serializeAs="String">
                <value>SM Random - &lt;seed&gt;.sfc</value>
            </setting>
            <setting name="ControlsShot" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="ControlsJump" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="ControlsDash" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="ControlsItemSelect" serializeAs="String">
                <value>Select</value>
            </setting>
            <setting name="ControlsItemCancel" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="ControlsAngleUp" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="ControlsAngleDown" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="RandomizerDifficulty" serializeAs="String">
                <value>Easy</value>
            </setting>
            <setting name="CreateSpoilerLog" serializeAs="String">
                <value>False</value>
            </setting>
        </SuperMetroidRandomizer.Properties.Settings>
    </userSettings>
</configuration>